.App {
  text-align: center;
  background-image: url("https://img.freepik.com/free-photo/wall-wallpaper-concrete-colored-painted-textured-concept_53876-31799.jpg?size=626&ext=jpg");
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 200px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
  padding: 20px;
  color: darkblue;
}
.instruction {
  color: white;
}

.footer {
  margin-top: 20px;
  background-color: rgb(24, 21, 21);
  color: white;
}
.score {
  color: rgb(179, 11, 11);
}
.message {
   color: rgb(179, 11, 11);
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}